<div class="event-list-header">
    <img src="assets/logo.png" alt="Logo">
    <h1>Nos actions</h1>
    <p>Les actions que nous menons ce mois-ci.</p>
</div>

<div class="evenet-list-containeur">
    @for(event of events;track event.id) {
        <div class="event-list-card">
            <app-event-card [event]="event"></app-event-card>
        </div>
       
    }
    <button (click)="modalWindowService.openModal()"> Nous rejoindre </button>
</div>

<app-modal-join-us *ngIf="modalWindowService.showJoinUS"/>

