<header>
    <nav class="navbar">
        <img src="assets/logo.png" alt="Logo" class="navbar-logo">

        <div *ngIf="!showMenuBurger" class= "navbar-horizontal">
            <div class="navbar-links-left">
                <ul>
                    <li><a routerLink="">Accueil</a></li>
                    <li><a routerLink="articles">Articles</a></li>
                    <li><a routerLink="actions">Actions</a></li>
                    <li><a routerLink="contact">Contact</a></li>
                </ul>
            </div>

            <div class="navbar-button-right">
                <button class="navbar-button"(click)="modalWindowService.openModal()" >Nous rejoindre</button>
                <button class="navbar-button" onclick="window.open('https://www.helloasso.com/associations/jara/formulaires/1', '_blank');">Faire un don</button>
            </div>
        </div>
        
        <div *ngIf="showMenuBurger" class = "menu-btn">
        <button  class=" img-btn" (click) = " showMenu()">
            <img src="assets/menu-btn.png" alt="Menu" class = "btn-logo">
        </button>
        </div>
        <div [ngClass]="{'navbar-vertical': true, 'navbar-vertical-open': showVerticalMenu}">
            <ul>
              <li><a routerLink="">Accueil</a></li>
              <li><a routerLink="articles">Articles</a></li>
              <li><a routerLink="contact">Contact</a></li>
              <li><button class="navbar-button">Nous rejoindre</button></li>
              <li>
                <a href="https://www.helloasso.com/associations/jara/formulaires/1">
                    <button class="navbar-button">Faire un don</button>
                </a>
            </li>
            </ul>
          </div>



       
    </nav>
</header>
<app-modal-join-us *ngIf="modalWindowService.showJoinUS"/>
