<div class="contact-container">

    <div class="contact-contain">

        <div class="contact-header">
            <img src="assets/logo.png" alt="Logo" class="presentation-card-logo">
            <div class="contact-header-text">
                <h2>Besoin d'informations ou envie de soutenir nos actions ?</h2>
                <p>Contactez-nous via le formulaire ci-dessous, nous sommes là pour échanger et avancer ensemble.</p>

            </div>
        

        </div>

        <div class="contact-form">
            <form>
                <div class="contact-form-info">
                    <label for="firstname">
                        <input type="text" name="firstname" id="firstname" placeholder="Nom ou Raison sociale">
                    </label>
                
                    <label for="lastname">
                        <input type="text" name="lastname" id="lastname" placeholder="Prenom">
                    </label>
                
                    <label for="email">
                        <input type="email" name="email" id="email" placeholder="Email">
                    </label>
                
                    <textarea name="message" id="message" placeholder="Votre message"></textarea>
                </div>

                <div class="contact-form-button">
                    <button type="submit">Envoyer</button>
                </div>
            

            </form>
        </div>

        </div>
</div>

