<footer>
    <div class="footer-container">
        <div class="socialIcons">
            <a href=""><i class="fa-brands fa-tiktok"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
           
        </div>
        <div class="footer-nav">
            <ul><li><a href="">Accueil</a></li>
                <li><a href="">Articles</a></li>
                <li><a href="">Actions</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>Site réalisé par : <span class="designer">IliasKhms</span></p>
    </div>
</footer>