<div class="presentation-card-conteneur">
    <div class="presentation-card">

        <div class="presentation-card-content">
            <img src="assets/logo.png" alt="Logo" class="presentation-card-logo">
            <h1>L'association JARA</h1>
            <p>JARA est une association caritative qui lutte contre la précarité et l'isolement à travers plusieurs actions : maraudes, collectes, organisation d'activités pour enfants en situation particulière, préparation de paniers-repas, distribution de produits d'hygiène...</p>
            <button class="presentation-card-button"onclick="window.open('https://www.helloasso.com/associations/jara/formulaires/1', '_blank');">Faite un don </button>
        </div>
        
 
    </div>
</div>  

