
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  
    
    
}

html, body, app-root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

:root{
    --couleur-1 : #0e3edb;
    --couleur-2 : #FFFFFF;
    --couleur-3 : #cdc4ff;

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
